table {
	width: 400px;
	background-color: lightblue;
	border: 3px;
	text-align: center;
	margin: auto;
}
th {
	border: 1px solid black;
	background-color: white;
}
td{
	border: 1px dashed;
	background-color: yellow;
}
div {
	text-align: center;
	background-color: pink;
	padding: 20px;
}
.Rand143 {
	text-align: center;
	background-color: green;
	padding: 20px;
}
p {
	font-family: Arial, Helvetica,sans-serif;
	font-size: 20px;
	color: #3a4366;
}
.Wto343 {
	font-family: Courier;
	font-size: 30px;
	color: blue;
}
/*Formatting rules for navigation*/
nav ul {
	list-style-type: none;
	padding: 0px;
}
li a {
	display: block;
	width: 80px;
	background-color: lightgray;
	padding: 8px;
	text-align: center;
}
li a:hover {
	background-color: orange;
}
li a:link {
	text-decoration: none;
}